* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #7ac0f8;
  padding: 25px;
  width: 100%;
  position: fixed;
}

.navbar-content {
  width: 60%;
  padding: 5px;
  display: flex;
  text-decoration: none;
  justify-content: space-around;
}

.navbar-content a {
  text-decoration: none;
  font-family: "Montserrat", Sans;
  color: #fff;
}

.banner {
  margin-top: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
}
